{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encabezado Fundación La Paz</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content slide-down">
            <h1 class="header-h1">FUNDACIÓN LA PAZ</h1>
            <p class="header-p">- Formamos líderes comunitarios a través de valores -</p>
        </div>
        <div class="header-logo slide-down">
            <img class="img" src="{% static 'image/sinFondo.png' %}" alt="Logo Fundación La Paz">
        </div>
    </header>
    <link rel="stylesheet" href="{% static 'js/login.js' %}">

<main> 
    <div class="login-container"> 

        <div class="login-box">
            <div class="login-logo">
                <img src="{% static 'image/sinFondo.png' %}" alt="Logo Fundación La Paz">
            </div>
            <h2 class="header-h2">Inicio De Sesión</h2>
            <form>
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Ingresar</button>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </form>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-left">
        <p>Pie de página</p>
        <p>Información adicional...</p>
    </div>
    <div class="footer-right">
        <p>Contactos</p>
        <p>Email: correo@ejemplo.com</p>
        <p>Teléfono: 300000000</p>
        <p>Redes sociales: @usuario</p>
    </div>
</footer>
</body>
</html>